* {
	box-sizing: border-box;
}
html, body {
	margin: 0px;
	box-sizing: border-box;
	background: #f6f8f9;
	font-family: Arial, Tahoma, sans-serif;
	color: #44525e;
}
p {
	margin: 0;
}

h2 {
	margin: 70px 0 20px 0;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
}
.orange {
	color:#ff7013;;
	width: 25px;
	height: 25px;
}


h2 span {
	color: #ff7013;
}

.section-description {
	text-align: center;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.wrap {
	margin: 0 auto;
}

.row {
	margin: 0;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

/* ________________________**_________________________ */

.site-header {
	min-height: 180px;
	background: #fff;
}

.site-header a {
	color: #34404b;
	text-decoration: none;
}

.site-header__line {
	min-height: 60px;
	border-bottom: 1px solid #edeff1;
}
.site-header__text span{
	display: inline-block;
	height: 15px;
	width: 15px;
	background: #ff7013;
	border-radius: 50%;
}
.site-header__logo {
	margin-top: 30px;
}

.site-header__icons__left {
	width: 47.5%;
	margin: 0 1.25%;
	background: #fff;
	padding-top: 20px;
	float: left;
	text-align: left;
}

.site-header__icons__left p{
	display: inline-block;
	margin-right: 20px;
}

.site-header__icons__right {
	width: 47.5%;
	margin: 0 1.25%;
	background: #fff;
	padding-top: 20px;
	float: left;
	text-align: right;
}

.site-header__logo a{
	text-decoration: none;
	color: #28313b;
}
.site-header__text {
	font-size: 20px;
	font-weight: bold;
}

.site-header__text1 {
	font-size: 12px;	
}

.site-header__block370 {
	width: 30.83333%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-header__block770 {
	width: 64.16%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-header__block170 {
	width: 14.16666%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-header__nav ul::after {
	content: "";
	display: block;
	clear: both;
}

.site-header__nav li{
	float: left;
	list-style: none;
	margin: 25px 15px;
}

.site-header_active a{
	color: #ff7013;
}

.site-header__icon {
	margin-top: 40px;
	text-align: right;
}

.site-header_count {
	position: relative;
}

.site-header_count::after {
	content: "6";
	display: block;
	height: 14px;
	width: 14px;
	background: #34404b;
	position: absolute;
	top: -16px;
	left: 10px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
}

.site-header__contacts {
	padding: 10px 0 0 100px;
}
.site-header__contacts img{
	width: 25px;
	height: 25px;
}


/* ____________________cart_____________________--- */

.goodsCart {
	background: #fff;
	padding: 30px 0;
	margin: 10px 0 40px 0;
}

.goodsCart::after {
	content: "";
	display: block;
	clear: both;
}
.goodsCart__left {
	float: left;
	width: 37.5%;
	margin: 0 1.25%;
	text-align: center;
}
.goodsCart__right {
	float: right;
	width: 57.5%;
	margin: 0 1.25%;
}
.goodsCart__image img{ 
	max-width: 100%; 
	padding: 10px;
} 
.goodsCart__image1 div {
	width: 94px;
	height: 68px;
	overflow: hidden;
	display: inline-block;
}
.goodsCart__image1 img{
	max-width: 100%;
}
.goodsCart__desc h1{
	text-transform: uppercase;
	color: #ff5912;
	font-size: 52px;
}
.goodsCart__desc_min {
	font-size: 18px;
	color: #3c4751;
	margin-left: 30px;
}

.goodsCart__desc_full {
	font-size: 16px;
	line-height: 30px;
	margin: 30px 0;
}

.goodsCart__size {
	font-size: 18px;
	padding: 40px 0;
	border-top: 1px solid #edeff1;
	border-bottom: 1px solid #edeff1;
}
.goodsCart__size::after {
	content: "";
	display: block;
	clear: both;
}
.goodsCart__left__desc {
	width: 50%;
	float: left;
	text-align: left;
	margin-top: 50px;
}

.goodsCart__left__size_active {
	font-weight: bold;
	color:  #ff5912;
}
.goodsCart__right__desc {
	width: 50%;
	float: left;
	text-align: right;
	margin-top: 50px;
}
.goodsCart__right__desc button {
	background: none;
	border: none;
	color: #34404b;
}

.goodsCart__price {
	float: left;
	text-align: left;
	margin-top: 40px;
}

.goodsCart__but {
	float: right;
	text-align: right;
	margin: 40px 70px 0 0;	
	background: #ff5912;
	border-radius: 25px;
	border: none;
	height: 40px;
	width: 90px;
	color: #fff;
	text-align: center;
}

.goodsCart__img {
	cursor: pointer;
}
/* _____________________footer_______________________ */

.site-footer {
	background: #fff;
	padding: 60px 0 44px 0;
}

.site-footer__block370 {
	width: 30.83333%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-footer__block170 {
	width: 14.16666%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-footer__text{
	font-size: 20px;
	font-weight: bold;
}
.site-footer__text span{
	display: inline-block;
	height: 15px;
	width: 15px;
	background: #ff7013;
	border-radius: 50%;
}
.site-footer__text a{
	text-decoration: none;
	color:#28313b;
}

.site-footer__text1 {
	font-size: 12px;
}
.site-footer__copyright {
	margin-top: 20px;
}

.site-footer__nav a{
	color: #28313b;
	text-decoration: none;
}
.site-footer__nav a:hover{
	color: #ff7013;
}

.site-footer_active {
	color: #ff7013;
}

.site-footer__nav li{
	margin-bottom: 20px;
}
.site-footer__block170 h4 {
	font-size: 16px;
	color: #ff7013;
}
.site-footer__block170 span i{
	margin: 0 5px;
	cursor: pointer;
}

/*_________________mobile 768__________________________*/

@media screen and (max-width: 768px){
	.site-header__block370,
	.site-header__block770,
	.site-header__block170,
	.site-goods__block900,
	.site-goods__block370,
	.site-goods__block300,
	.site-goods__block270,
	.site-goods__block170,
	.site-footer__block370,
	.site-footer__block170,
	.block-letter__block170,
	.block-letter__block270,
	.block-letter__block470,
	.goodsCart__desc,
	.block-letter,
	.line__block1200 {
		width: auto;
		min-height: auto;
		float: none;
		margin: 0;
	}

	.md-1,
	.md-2,
	.md-3,
	.md-4,
	.md-5,
	.md-6,
	.md-7,
	.md-8,
	.md-9,
	.md-10,
	.md-11,
	.md-12 {
		float: left;
		margin: 0 1.25%;
	}

	.md-1 {
		width: 5.8333%;
	}
	.md-2 {
		width: 14.1666%;
	}
	.md-3 {
		width: 22.5%;
	}
	.md-4 {
		width: 30.83333333%;
	}
	.md-6 {
		width: 47.5%;
	}
	.md-8 {
		width: 64.1666%;
	}
	.md-10 {
		width: 80.8883%;
	}
	.md-12 {
		width: 97.5%;
	}
	.md-center {
		text-align: center;
	}
	.md-marg {
		margin: 10px 1.25%;
	}
	.site-footer {
		padding: 20px 0 20px 0;
	}
	.block-letter {
		line-height: 50px;
	}
	.goodsCart__image {
		max-width: 80%;
		text-align: center;
	}
}





















