* {
	box-sizing: border-box;
}
html, body {
	margin: 0px;
	box-sizing: border-box;
	background: #f6f8f9;
	font-family: Arial, Tahoma, sans-serif;
	color: #44525e;
}
p {
	margin: 0;
}

h2 {
	margin: 70px 0 20px 0;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
}

h2 span {
	color: #ff7013;
}

.section-description {
	text-align: center;
}
.container {
	width: 1200px;
	margin: 0 auto;
}

.wrap {
	margin: 0 auto;
}

.row {
	margin: 0;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

/* ________________________Header_______________________________- */
.site-header {
	min-height: 180px;
	background: #fff;
}

.site-header a {
	color: #34404b;
	text-decoration: none;
}

.site-header__line {
	min-height: 60px;
	border-bottom: 1px solid #edeff1;
}
.site-header__text span{
	display: inline-block;
	height: 15px;
	width: 15px;
	background: #ff7013;
	border-radius: 50%;
}
.site-header__logo {
	margin-top: 30px;
}

.site-header__icons__left {
	width: 47.5%;
	margin: 0 1.25%;
	background: #fff;
	padding-top: 20px;
	float: left;
	text-align: left;
}

.site-header__icons__left p{
	display: inline-block;
	margin-right: 20px;
}

.site-header__icons__right {
	width: 47.5%;
	margin: 0 1.25%;
	background: #fff;
	padding-top: 20px;
	float: left;
	text-align: right;
}

.site-header__icons__right img {
	height: 30px;
	width: 75px;
}
.site-header__logo a{
	text-decoration: none;
	color: #28313b;
}
.site-header__text {
	font-size: 20px;
	font-weight: bold;
}

.site-header__text1 {
	font-size: 12px;	
}

.site-header__block370 {
	width: 30.83333%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-header__block770 {
	width: 64.16%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-header__block170 {
	width: 14.16666%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-header__nav ul::after {
	content: "";
	display: block;
	clear: both;
}

.site-header__nav li{
	float: left;
	list-style: none;
	margin: 25px 15px;
}

.site-header_active a{
	color: #ff7013;
}

.site-header__icon {
	margin-top: 40px;
	text-align: right;
}

.orange {
	color:#ff7013;;
	width: 25px;
	height: 25px;
}

.site-header_count {
	position: relative;
}

.site-header_count::after {
	content: "6";
	display: block;
	height: 14px;
	width: 14px;
	background: #34404b;
	position: absolute;
	top: -16px;
	left: 10px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
}

.site-header__contacts {
	padding: 10px 0 0 100px;
}
.site-header__contacts img{
	width: 25px;
	height: 25px;
}

/* ----------------------**____________________________________ */
.site-goods__block900 {
	width: 72.5%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-goods__block370 {
	width: 30.83333%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-goods__block300 {
	width: 22.5%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-goods__block270 {
	width: 22.5%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-goods__block170 {
	width: 14.16666%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.section-description {
	text-align: center;
	margin: 20px 0 75px 0;
}
.goods-block {
	margin: 80px 0;
}

.goods-cart {
	min-height: 350px;
	background: #fff;
	font-size: 18px;
	padding-bottom: 40px;
}
.goods-cart__image {
	width: 100%;
	height: auto;
	padding-top: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.goods-cart__image_except {
	margin-bottom: -15px;
}
.goods-cart__name {	
	text-align: center;
	color: #43525d;
	margin: 20px 0 30px 0;
}
.goods-cart__cost {
	text-align: center;
	color: #ff7013;
}
/* --------------------------------------------goodsCart________________________ */
.site-footer {
	background: #fff;
	padding: 60px 0 44px 0;
}

.site-footer__block370 {
	width: 30.83333%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-footer__block170 {
	width: 14.16666%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.site-footer__text{
	font-size: 20px;
	font-weight: bold;
}
.site-footer__text span{
	display: inline-block;
	height: 15px;
	width: 15px;
	background: #ff7013;
	border-radius: 50%;
}
.site-footer__text1 {
	font-size: 12px;
}
.site-footer__copyright {
	margin-top: 20px;
}

.site-footer__nav a{
	color: #28313b;
	text-decoration: none;
}
.site-footer__nav a:hover{
	color: #ff7013;
}

.site-footer_active {
	color: #ff7013;
}

.site-footer__nav li{
	margin-bottom: 20px;
}
.site-footer__block170 h4 {
	font-size: 16px;
	color: #ff7013;
}

.site-footer__logo {
	width: 80%;
	height: 20px;
}

/* _____________________________footer___________________________ */
.block-com {
	width: 47.5%;
	min-height: 110px;
	float: left;
	margin: 0 1.25%;
	background: #fff;
	padding-top: 10px;
	border: 1px solid #eaedef;
}

.block-com__sale{
	width: 25%;
	float: left;	
}

.block-com__img {
	background:  #ff7013;
	width: 70px;
	height: 70px;
	transform: rotate(45deg);
	margin: 10px auto;
	text-align: center;		
}

.block-com__span1 {
	writing-mode: tb-rl; /* ����� ��������� ����� ������� */
	-webkit-transform: rotate(225deg);
	font-size: 16px;
	color: #fff;
	text-align: center;
	font-style: italic;
}

.block-com__span2 {	
	font-size: 25px;
	font-weight: bold;	
	color: #fff;
}
.block-com__text {
	width: 40%;
	float: left;
	margin: 20px 2%;
	text-align: left;
}
.block-com__text h2{
	color: #34404b;
	font-size: 22px;
	margin: 0;
	text-align: left;
}
.block-com__text p{
	color: #495662;
	font-size: 12px;
}
.block-com__price {
	min-height: 100px;
	float: left;
	width: 27%;
	margin: 0 2%;
}
.block-com__price p{
	color: #ff7013;	
	font-size: 25px;
	line-height: 100px;
	text-align: center;
}

/* ___________________________com_________________________________________ */

.best-sales {
	background: #fff;
	padding: 20px;
}
.best-sales img{
	max-width: 40%;
}
.best-sales__description {
	width: 60%;
	float: right;
	text-align: center;
}
.best-sales__description h4{
	margin-top: 0;
}

.stars-main {
	margin-left: 0;
}
.stars img {	
	height: 15px;
	width: 15px;
	
}

.price {	
	margin-left: 80px;
	color: #ff7013;	
	font-weight: bold;
}

/* _________________________________best-sales___________________________ */

.block-letter {
	width: 97.5%;
	min-height: 100px;
	float: left;
	background: #fff;
	margin: 120px 1.25%;
	padding: 30px;
	line-height: 100px;
}

.block-letter__block170 {
	width: 14.16666%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
	text-align: center;
}

.block-letter__block270 {
	width: 20%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
	text-align: center;
}

.block-letter__block470 {
	width: 58.3333%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.block-letter__block470 span{
	color: #ff7013;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 15px;
	font-weight: bold;
}

.block-letter__btn {
	background: #ff7013;
	border: none;
	color: #fff;
	padding: 15px 25px;
}

.block-letter__block270 p{
	display: inline-block;
}

/* ______________________________letter_________________________ */

.line__block1200 {
	width: 97.5%;
	min-height: 100px;
	float: left;
	margin: 0 1.25%;
}

.line__block1200__devider {
	background: #fff;
	min-height: 60px;
	margin: 80px 0 115px 0;
	line-height: 60px;
	text-align: center;
}
.circle {
	display: inline-block;
	height: 10px;
	width: 10px;
	background: #ff7013;
	border-radius: 100%;
}

/* ________________________com-block2_________________________ */

.block-com__second {
	
	text-align: center;
	padding: 20px;
}
.block-com__second_big {
	font-weight: bold;
	text-transform: uppercase;	
}
.block-com__second span {
	font-weight: bold;
	color: #ff7013;
	text-transform: uppercase;	
}
.block-com__second_small {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
}
/* ______________slider-main________________ */

.slider-main {
	width: 50%;
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;	
}
.slider-main p{
	margin: 20px 0;
}
.slider-main-bg {
	background-image: url('../img/main-sl-1.jpg');
	background-size: cover;
	min-height: 650px;

	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.slider-main_size {
	text-transform: uppercase;
    color: #ff5912;
	margin: 0;
	text-align: left;
}

.mod {
	font-weight: bold;
}

.mod1 {
	color: #ff5912;
	font-weight: bold;
}








